uvicorn
fastapi
python-jose
pytz
pydantic
pydantic-settings
sqlalchemy
sqlalchemy-stubs
alembic
passlib
bcrypt==4.0.1
apscheduler
cachetools
requests
chardet
dateparser
qbittorrent-api
torrentool
# python-telegram-bot
pyTelegramBotAPI
redis
loguru