# 【Redis地址（ex：192.168.100.1）】
REDIS_HOST=
# 【Redis端口（ex：6379）】
REDIS_PORT=
# 【Redis密码】
REDIS_PASSWORD=''
# 【Redis数据库（ex：0）】
REDIS_DB=
# 【订阅扫描间隔】
SUBSCRIBE_INTERVAL=15
# 【播放限速检测间隔】
PLAY_LIMIT_INTERVAL=5
# 【代理地址】
PROXY_HOST=''
# 【QB标签】
QB_TAG='RSS-Feed-Toolbox'
# 【TG机器人Token】
TELEGRAM_BOT_TOKEN=''
# 【TG聊天ID】
TELEGRAM_CHAT_ID=
# 【EMBY地址】
EMBY_HOST=''
# 【EMBYAPI】
EMBY_API_KEY=''
# 【限速地址列表（ex：192.168.100.1,192.168.100.2）】
LIMIT_IP=